<apex:page id="brokerPage" standardController="Account"  extensions="OpportunityOnAccountDetailExtension" showHeader="true" >

<!--==========================================================-->
<!-- HOVER -->
<!--==========================================================-->
<div class="RLPanelShadow"><div class="RLPanel" id="RLPanel" onblur="sfdcPage.relatedListPanel.hideRLDelayed(null, 100)" onfocus="sfdcPage.relatedListPanel.showRL()" onmouseout="sfdcPage.relatedListPanel.hideRLDelayed(null, 100)" onmouseover="sfdcPage.relatedListPanel.showRL()"><iframe frameborder="0" id="RLPanelFrame" name="RLPanelFrame" src="/emptyHtmlDoc.html" title="Hidden Frame - Ignore"></iframe></div></div><div class="listHoverLinks"><span class="invisibleMinHeight">|</span></div>
<script type="text/javascript">
try { sfdcPage.registerRelatedListPanel('RLPanel',false);} catch(e) {}
</script>

<chatter:feedwithFollowers entityId="{!account.id}" showHeader="True"/> 
   
   <apex:detail subject="{!account}" relatedList="false" relatedListHover="true" title="true" /> 
   

   <apex:relatedList id="contactList" list="Contacts"/>
    <apex:relatedList id="activityList"  list="OpenActivities"/>
    <apex:relatedList id="historyList"  list="ActivityHistories"/>
    <apex:relatedList id="opportunitylist" list="Opportunities"/>
        <apex:form >
       <apex:pageBlock id="CustomList" title="Opportunities by Subject" mode="edit" >
      <apex:pageBlockSection columns="1">
         <apex:outputText >
           <B>Select an Opportunity Subject to view opportunities related to this account:</B>
         </apex:outputText>
          
   
<apex:actionRegion >
            <apex:selectList size="1" multiselect="false" value="{!selectedsubject}"  >
                <apex:selectOptions value="{!Items}"  />
                   <apex:actionSupport event="onchange"
                            action="{!handleAccountSelected}"
                            rerender="pbs1"
                            status="status"/ >
            </apex:selectList>
         </apex:actionRegion>
      </apex:PageBlockSection>
       
 <apex:pageBlockSection columns="1" id="pbs1">
      <apex:actionstatus id="status" startText="testing...">
        <apex:facet name="stop">
           Opportunity Subject Selected: <apex:outputText value="{!selectedsubject}" />
     
  <apex:pageBlockTable value="{!accounts}" var="opp" id="pb1">
            <apex:column headerValue="Action">       
                    <apex:outputLink value="{!URLFOR($Action.Opportunity.Edit,opp.obj.id)}">Edit</apex:outputLink>
                    <apex:outputLabel value=" | "/>     
                    <apex:outputLink value="{!URLFOR($Action.Opportunity.Delete,opp.obj.id)}">Del</apex:outputLink>     
                </apex:column>              
                <apex:column headerValue="Opportunity Name"> <apex:outputLink value="{!URLFOR($Action.Opportunity.View,opp.obj.id)}">{!opp.obj.name}</apex:outputLink> </apex:column> 
            <apex:column value="{!opp.obj.StageName}" />
            <apex:column value="{!opp.obj.Amount}" />
            <apex:column value="{!opp.obj.CloseDate}" />                        
                     
            <apex:facet name="footer">
              <apex:outputPanel layout="block">
  
    <!-- PAGE X OF X IN X RESULTS -->
                Page {!IF(paginator.pageCount=0, 0, paginator.pageNumberDisplayFriendly)} of {!paginator.pageCount} in {!paginator.recordCount} results
                &nbsp;&nbsp;       
                 
    <!-- FIRST -->
                <apex:outputText value="First"
                                 rendered="{!NOT(paginator.hasPrevious)}" />
                    <apex:commandLink value="First"
                                      rendered="{!paginator.hasPrevious}"
                                      action="{!paginator.first}" />
                &nbsp;&nbsp;
                                     
     <!-- PREVIOUS -->   
                <apex:outputText value="Previous"
                                 rendered="{!NOT(paginator.hasPrevious)}" />
                    <apex:commandLink value="Previous"
                                      rendered="{!paginator.hasPrevious}"
                                      action="{!paginator.previous}" />
                &nbsp;&nbsp;
                                             
     <!-- PAGE SHORTCUTS -->
    <apex:repeat value="{!paginator.previousSkipPageNumbers}" var="skipPageNumber">
                    <apex:outputPanel >
                        <apex:commandLink value="{!skipPageNumber+1}" action="{!skipToPage}">
                           <apex:param name="pageNumber" id="pageNumber" value="{!skipPageNumber}" assignto="{!pageNumber}" />
                        </apex:commandLink>
               
           </apex:outputPanel>
                &nbsp;&nbsp;
                </apex:repeat>
                 
    <apex:outputText style="text-decoration:none; font-weight:bold; background-color: #FFFF00"
                                 value="{!paginator.pageNumber+1}"/>
                &nbsp;&nbsp;
                <apex:repeat value="{!paginator.nextSkipPageNumbers}" var="skipPageNumber">
                    <apex:outputPanel >
                    <apex:commandLink value="{!skipPageNumber+1}" action="{!skipToPage}">
                       <apex:param name="pageNumber" id="pageNumber" value="{!skipPageNumber}" assignto="{!pageNumber}" />
                    </apex:commandLink>
                    </apex:outputPanel>
                &nbsp;&nbsp;
                </apex:repeat>
                                                
    <!-- NEXT -->
                <apex:outputText value="Next"
                                 rendered="{!NOT(paginator.hasNext)}" />
                    <apex:commandLink value="Next"
                                      rendered="{!paginator.hasNext}"
                                      action="{!paginator.next}" />
                &nbsp;&nbsp;
                                                       
    <!-- LAST -->
                <apex:outputText value="Last"
                                 rendered="{!NOT(paginator.hasNext)}" />
                    <apex:commandLink value="Last"
                                      rendered="{!paginator.hasNext}"
                                      action="{!paginator.last}" />
                &nbsp;&nbsp;
                                                                  
     <!-- Page Size Options -->
                Page Size:
                  <apex:actionRegion >
                    <apex:selectList value="{!paginator.pageSize}"
                                     size="1">
                      <apex:selectOptions value="{!paginator.pageSizeOptions}" />
                          <apex:actionSupport event="onchange"
                                              rerender="pbs1"
                                              status="status" />
                    </apex:selectList>
                  </apex:actionRegion>
              </apex:outputPanel>
            </apex:facet>
        </apex:pageBlockTable>
     </apex:facet>
      </apex:actionstatus>
 </apex:PageBlockSection>
 </apex:pageBlock>
        
        </apex:form>
   

<apex:relatedList id="caselist" list="Cases"/>
<apex:relatedList list="AccountPartnersFrom"/>
<apex:relatedList id="Attachments" subject="{!Account}" list="NotesAndAttachments" title="Google Docs, Notes, & Attachments"/>
<!--==========================================================-->
<!-- CUSTOM HOVER -->
<!--==========================================================-->
<apex:outputPanel rendered="true">
<script type="text/javascript">

try {
sfdcPage.registerRelatedList('brokerPage:contactList', '', '', false, '', '',false,false,true, '');
sfdcPage.registerRelatedList('brokerPage:activityList', '', '', false, '', '',false,false,true, '');
sfdcPage.registerRelatedList('brokerPage:historyList', '', '', false, '', '',false,false,true, '');
sfdcPage.registerRelatedList('brokerPage:opportunitylist', '', '', false, '', '',false,false,true, '');
sfdcPage.registerRelatedList('brokerPage:caselist', '', '', false, '', '',false,false,true, '');
sfdcPage.registerRelatedList('brokerPage:Attachments', '', '', false, '', '',false,false,true, '');
} catch (e) {}

 

</script>
</apex:outputPanel> 
 </apex:page>