<apex:page standardController="Account">
<apex:outputPanel rendered="{!IF(Account.RecordTypeId=='012600000009YVL',true,false)}">
<apex:include pageName="AccountPage" />
</apex:outputPanel>\
</apex:page>