<apex:page standardController="Demo__c" extensions="DemoContactEntryExtension" action="{!OppCheck}" >

    <apex:sectionHeader Title="Manage {!$ObjectType.Demo_Contact__c.LabelPlural}" subtitle="{!Demo__c.Name}"/>
    <apex:pageMessages />
    <c:LoadingStatusSpinner /> 

    <style>
        .search{
            font-size:14pt;
            margin-right: 20px;    
        }
        .fyi{
            color:red;
            font-style:italic;
        }
        .label{
            margin-right:10px;
            font-weight:bold;
        }
    </style>
    
    <script type='text/javascript'>
    
        // This script assists the search bar functionality
        // It will execute a search only after the user has stopped typing for more than 1 second
        // To raise the time between when the user stops typing and the search, edit the following variable:
        
        var waitTime = 1;
        
    
        var countDown = waitTime+1;
        var started = false;
        
        function resetTimer(){
        
            countDown=waitTime+1;
            
            if(started==false){
                started=true;
                runCountDown();
            }
        }
        
        function runCountDown(){
        
            countDown--;
            
            if(countDown<=0){
                fetchResults();
                started=false;
            }
            else{
                window.setTimeout(runCountDown,1000);
            }
        }
    
    </script>
   
  
    <apex:form >
   
        <apex:outputPanel id="mainBody">
        
            <apex:outputLabel styleClass="label">Opportunity: </apex:outputLabel>
            <apex:outputText value="{!Demo__c.Name}"/>&nbsp;
            
            <br/>
            
<!-- this is the upper table... a.k.a. the "Chosen Contacts"-->

            <!-- notice we use a lot of $ObjectType merge fields... I did that because if you have changed the labels of fields or objects it will reflect your own lingo -->
            <apex:pageBlock title="Selected {!$ObjectType.Demo_Contact__c.LabelPlural}" id="selected">
                       
                <apex:pageblockTable value="{!chosencontacts}" var="s">
                
                    <apex:column >
                        <apex:commandLink value="Remove" action="{!removeFromchosencontacts}" reRender="selected,searchResults" immediate="true" status="LoadingStatusSpinner">
                            <!-- this param is how we send an argument to the controller, so it knows which row we clicked 'remove' on -->
                           <apex:param value="{!s.Contact__c}" assignTo="{!toUnselect}" name="toUnselect"/>
                        </apex:commandLink>
                    </apex:column>
                    
                    <apex:column headerValue="{!$ObjectType.Demo_Contact__c.LabelPlural}" value="{!s.Contact__c}"/>
   
                </apex:pageblockTable>
            
            
                <apex:pageBlockButtons >
                    <apex:commandButton action="{!onSave}" value="Save"/>
                    <apex:commandButton action="{!onCancel}" value="Cancel" immediate="true"/>
                </apex:pageBlockButtons>
            
            </apex:pageBlock>
    
<!-- this is the lower table: search bar and search results -->
   
            <apex:pageBlock >
            
                <apex:outputPanel styleClass="search">
                    Search for {!$ObjectType.OpportunityContactRole.LabelPlural}:
                </apex:outputPanel>

                <apex:actionRegion renderRegionOnly="false" immediate="true">
                
                    <apex:actionFunction name="fetchResults" action="{!updateAvailableList}" reRender="searchResults" status="LoadingStatusSpinner"/>
                    
                    <!-- here we invoke the scripting to get out fancy 'no button' search bar to work -->
                   <apex:inputText value="{!searchString}" onkeydown="if(event.keyCode==13){this.blur();}else{resetTimer();}" style="width:300px"/>
                    &nbsp;&nbsp;
                    <i>
                        <!-- actionStatus component makes it easy to let the user know when a search is underway -->
                       <apex:actionStatus id="searchStatus" startText="searching..." stopText=" "/>
                    </i>
                    
                </apex:actionRegion>
            
                <br/>
                <br/>
            
                <apex:outputPanel id="searchResults">
                
                    <apex:pageBlockTable value="{!AvailableContacts}" var="contact">
                    
                        <apex:column headerValue="{!$ObjectType.Contact.fields.Name.label}">
                            <a href="/{!contact.id}">{!contact.name}</a>
                        </apex:column>
                      
                        
                        <apex:column >
                            <!-- command button in a column... neato -->
                           <apex:commandButton value="Select" action="{!addTochosencontacts}" reRender="selected,searchResults" immediate="true" status="LoadingStatusSpinner">
                                <!-- again we use apex:param to be able to tell the controller which row we are working with -->
                              <apex:param value="{!contact.Id}" assignTo="{!toSelect}" name="toSelect"/>
                            </apex:commandButton>
                        </apex:column>
                        
                    </apex:pageBlockTable>
                    
                    <!-- We put up a warning if results exceed 100 rows -->
                  <apex:outputPanel styleClass="fyi" rendered="{!overLimit}">
                        <br/>
                        Your search returned over 100 results, use a more specific search string if you do not see the desired {!$ObjectType.Contact.Label}.
                        <br/>
                    </apex:outputPanel>
                    
                </apex:outputPanel>
            
            </apex:pageBlock>
            
        </apex:outputPanel>

    </apex:form> 

</apex:page>